html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}

/*.row {*/
/*    margin-left: auto;*/
/*    margin-right: auto*/
/*}*/

.pagination {
    position: center;
    margin-left: 10%;
}
