html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.row {
    position: center;

    /*margin-left: 20%;*/
    /*position: absolute;*/
}

.pagination {
    position: center;
    margin-left: 10%;




}